@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>

    @*----------------*@
    <div class="container">
        <div class="centerr">
            <div class="btnn bg-success">

                <a class="text-center text-white" style="text-decoration: None" asp-controller="reservation" asp-action="Create">
                    <svg width="180px" height="35px" viewBox="0 0 180 35" class="border">
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                    </svg>
                    Create New
                </a>
            </div>

        </div>
    </div>

    
    @*-----------------*@

    <p>Learn about building Web apps with ASP.NET Core</p>
    <img src="~/img/reservation.png" />
</div>
