@model ReserveStudent.Models.CreateReservation

@{
    ViewData["Title"] = "Create";
}


<h4 class="text-center">CreateReservation</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Type Reservation</label>
                </div>
                <select asp-for="ReservationTypeId" asp-items="Model.ReservationTypes"></select>
            </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Date</label>
            </div>
            <input asp-for="Date" type="date" class="form-control" value="@DateTime.Now" />
        </div>

        <div class="form-group d-flex">
            @*<button class="btn btn-secondary m-2">Create</button>*@
            @*<button class="btn btn-secondary" asp-action="Index">Back to List</button>*@
            
            <button class="btn btn-secondary my-3 mr-3">Create</button>
            <a class="btn btn-secondary m-3" asp-controller="Reservation" asp-action="Index">Back to List</a>
        </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
